# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Node
node_modules/

# Build
dist/
build/

# VS Code
.vscode/

# Logs
*.log

# OS Files
Thumbs.db
.DS_Store

# Exported Reports
backend/exports/